mxnet-cu90mkl
gluonnlp
scikit-learn
seaborn
graphviz
opencv-python
pandas
matplotlib
feather-format
jupyter
bcolz
spacy
fire
torch
torchvision
torchtext==0.2.3
html5lib
isoweek
descartes
mizani
patsy
statsmodels
tornado